<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add Task
  </button>
  
  <!-- Modal -->
  <div class="modal fade" [ngClass]="{'show d-block': isModalVisible}" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="btn-close"
           data-bs-dismiss="modal" aria-label="Close"
           (click)="closeClick()"
           ></button>
        </div>
        <div class="modal-body">
          <app-add-edit-task [task]="task" *ngIf="ActiveAddEditTaskComp"></app-add-edit-task>
        </div>
      </div>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>TaskId</th>
            <th>Task Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of TaskList">
            <td>{{dataItem.TaskId}}</td>
            <td>{{dataItem.TaskName}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                (click)="editClick($event)"
                data-backdrop="static" data-keyboard="false"
                >
                    Edit
                </button>
                <button type="button" class="btn btn-light mr-1">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
